<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Todo 앱</title>
  </head>
  <body>
    <h1>Todo 목록</h1>

    <ul id="todo-list">
      <% for (const todo of todoList) { %> <input type="checkbox"
      name="complete" id="todo-<%= todo.id %>" <%= todo.complete ? 'checked' :
      '' %> >
      <input
        tpye="text"
        name="contents"
        id="content-<%= todo.id %>"
        value="<%= todo.content %>"
        readonly
      />
      <button onclick="deleteTodo('<%= todo.id %>')">삭제</button>
      <br />
      <% } %>
    </ul>

    <input
      type="text"
      name="content"
      id="content"
      placeholder="새로운 할 일 추가"
    />
    <button type="button" id="addBtn">추가</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const addBtn = document.getElementById("addBtn");
      addBtn.addEventListener("click", () => {
        const content = document.getElementById("content").value;
        axios
          .post("/todo", { content: content })
          .then((data) => {
            getTodolist();
          })
          .catch((err) => {
            console.log("AXIOS ERROR!");
          });
      });

      const getTodolist = () => {
        axios.get("/todo").then((result) => {
          const data = result.data;
          const elTodo = document.getElementById("todo-list");
          elTodo.innerHTML = "";

          data.forEach((todo) => {
            const listItem = document.createElement("li");
            listItem.style = "list-style-type: none;";
            const labelIndex = document.createElement("label");
            labelIndex.textContent = todo.id;
            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = `todo-${todo.id}`;
            checkbox.checked = todo.completed;

            const label = document.createElement("label");
            label.for = `content-${todo.id}`;
            label.textContent = todo.content;

            const deleteButton = document.createElement("button");
            deleteButton.textContent = "삭제";
            deleteButton.onclick = () => {
              deleteTodo(todo.id);
            };

            listItem.appendChild(labelIndex);

            listItem.appendChild(checkbox);
            listItem.appendChild(label);
            listItem.appendChild(deleteButton);
            elTodo.appendChild(listItem);
          });
        });
      };

      function deleteTodo(id) {
        axios
          .delete("/todo", { data: { id: id } })
          .then(() => {
            console.log(`DELETED! ${id}`);
          })
          .then(() => {
            getTodolist();
          })
          .catch((err) => {
            console.log("Delete Error!");
          });
      }
    </script>
  </body>
</html>
